<h1 mat-dialog-title style=" color: rgb(227, 25, 55);">{{data?.title}}
  <button style="float: right" mat-button class="close-icon" [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>
</h1>

<div mat-dialog-content>
  <mat-card>
    <img mat-card-image [src]=data?.imageUrl [alt]=data?.altText>
  </mat-card>
</div>
<div mat-dialog-actions>
  <h1>
    <a href="https://deepak-mandal.github.io/"
      style="text-decoration:none; background: linear-gradient(to right, rgb(227, 25, 55), rgb(82, 54, 171)); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">
      <b>{{data?.content}}</b></a>
  </h1>
</div>