.no_href_style{
   text-decoration: none;
    color: inherit;

}

.li_style{
    height: auto; 
    padding-top: 8px; 
    padding-bottom: 8px
}

.right-align{
    float: right;
    font-size: 14px;
}