<!-- <dkm-custom-card [data]="experiencesData"></dkm-custom-card> -->
<!-- <hr> -->
<mat-tab-group mat-align-tabs="start">
	<mat-tab label="Edgeverve - Infosys">
		<mat-card>
			<mat-card-header>
				<div mat-card-avatar
					[ngStyle]="{'background-image': 'url(' + evImagePathOrUrl + ')', 'background-size': 'cover'  }">
				</div>
				<mat-card-title>
					<a class="no_href_style" href="https://www.edgeverve.com/" target="_blank">EdgeVerve Systems Limited (Infosys)</a>
				</mat-card-title>
					<mat-card-subtitle>
					Product Technical Analyst <i style="float: right;">2026 - present</i>
				</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<div>
					<h2><b><a class="no_href_style" href="https://www.finacle.com/" target="_blank">Finacle</a></b><span class="right-align">(Banking)</span></h2>
					<ul>
						<li class="li_style">
							Backend development using Java, Spring boot, Microservices.
						</li>
					</ul>
				</div>

			</mat-card-content>
			<mat-card-actions style="margin-bottom: 10px; padding-bottom: 15px;">

				<span>
					<i style="float:right;">Bangalore - India</i>
				</span>
			</mat-card-actions>
		</mat-card>
	</mat-tab>
	<mat-tab label="CGI / Product Engineering">
		<mat-card>
			<mat-card-header>
				<div mat-card-avatar
					[ngStyle]="{'background-image': 'url(' + cgiImagePathOrUrl + ')', 'background-size': 'cover'  }">
				</div>
				<mat-card-title>
					<a class="no_href_style" href="https://www.cgi.com/en" target="_blank">CGI Information Systems
						and Management Consultants Pvt. Ltd.</a>
				</mat-card-title>
				<mat-card-subtitle>
					Senior Software Engineer / CONSULTANT <i style="float: right;">2021 - 2026</i>
				</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<div>
					<h2><b><a class="no_href_style" href="https://www.cgi.com/en/solution/cgi-datacycle360"
								target="_blank">DataCycle360</a></b><span class="right-align">(European union clients; Government industries)</span></h2>
					<ul>
						<li class="li_style">
							Developed backend services using Java, Spring boot, Hibernate, MSSQL, Wildfly
							v10, Tomcat v9 server of DataCycle360 monolithic app.
						</li>
					</ul>
					<h2><b><i>DataCycle360 mobile UI</i></b> - Spring Boot 2.7, Microservice, Java 8, Angular 17</h2>

					<ul>
						<li class="li_style">
							Built features to enables document management workflow including document life cycle automation.
						</li>
						<li class="li_style">
							<b><i>Implemented configurable workflow</i></b> - document routing for user/group with
							verify/approve/transfer/clarification/reject workflow status.
						</li>

						<li class="li_style">
							<b><i>Digital archive</i></b> - virtual folders, indexes, details, history, attachments, comment,
							accounting row,
							document free-text search, user settings.
						</li>
						<li class="li_style">
							Designed <b><i>Architecture</i></b> of UI application using <b><i>Angular 17 (Standalone)</i></b>,
							Implemented <b><i>Customizable</i></b> component & i18n <b><i>localization</i></b> feature
						</li>
						<li class="li_style">
							Migrated SOAP interface to REST API using <b><i>Spring Boot, microservices</i></b> with Swagger-ui API
							documentation &
							Robot automation testcase
						</li>
						<li class="li_style">
							<b><i>Optimised performance</i></b> by using <b><i>multi-threaded approach</i></b> for upload process
							with ClamAV virus scan to fix
							timeout & memory issue
						</li>
						<li class="li_style">
							Performed end-to-end functional testing in <b><i>collaboration</i></b> with CGI Finland stakeholder to
							align software
							business logic with product
						</li>
						<li class="li_style">
							Individual contribution to 55+ epics & stories on day-to-day basis in the Kanban and <b><i>Agile</i></b>
							methodology.
						</li>
						<li class="li_style">
							Implemented authentication and authorization using Keycloak, Session handling & Spring security.
							Vulnerabilities fixes.
						</li>
						<li class="li_style">
							Implemented efficient, maintainable & scalable solution through OOP, Stream API, Collections framework,
							Dynamic Programming, Data structures & algorithms.
						</li>
						<li class="li_style">
							Improved code quality using ESLint, SonarLint, JavaDoc documentation & <b><i>GitHub Copilot</i></b>.
						</li>
						<li class="li_style">
							Host Angular app & Spring boot app locally using Nginx & Apache service wrapper to fix issue which only
							replicable in production environment.
						</li>

					</ul>
					<h2><b><i>Webshop</i></b> - Spring Boot 3, Microservice, Java 21, MyBatis, Angular 19</h2>
					<ul>
						<li class="li_style">
							Designed and developed a B2B eCommerce product which is responsible for ordering items & approving
							purchases
						</li>

						<li class="li_style">
							Investigation of 60+ story (105+ MR) including functionality & features; Implemented new UI features;
							<b><i>Angular v16 to v19</i></b> upgrades.
						</li>

						<li class="li_style">
							Developed REST APIs using <b><i>Spring Boot, Java</i></b>, Integrated Apache Solr for spell-check
							suggest search
							functionality.
						</li>

						<li class="li_style">
							Created REST APIs for Webshop-Advantage application integration with Purchase requests features & bug
							fixes.
						</li>

						<li class="li_style">
							Designed database data model, schema modification using <b><i>MS SQL database</i></b> technologies; SQL
							query tuning
							to optimize performance.
						</li>
					</ul>
				</div>
				<mat-divider></mat-divider>
				<div>
					<h2 style="padding-top: 10px;"><b><a class="no_href_style"
								href="https://www.cgi.com/en/banking-capital-markets/wealth-management"
								target="_blank">Wealth360</a></b></h2>
					<span style="float: right">(Clients:- Canadian banks- CIBC, TD bank, BMO, Aviso; Banking &
						capital markets)</span><br />
					<ul>
						<li class="li_style">
							Worked as a full-stack Engineer with <b><i>Product Engineering</i></b> perspective on <b><i>Digital
									Wealth Platform</i></b> product, which delivers a flexible Unified Account Platform with investing
							capabilities.
						</li>
						<li class="li_style">
							<b><i>Technical Analysis</i></b> of 140+ epic, story, performance, technical task, bug root cause, and
							designed solutions meeting industry standard.
						</li>
						<li class="li_style">
							<b><i>Angular (NgModule)</i></b> - development of new UI screen Including the <b><i>building reusable
									component, service</i></b> with HTML, SCSS, TypeScript, <b><i>AG Grid, angular material,
									RxJs</i></b>, Lodash & <b><i>JavaScript</i></b>, AngularJS, that works in multiple areas of
							application.
						</li>
						<li class="li_style">
							<b><i>Architecture upgrades</i></b> - Angular v8 to v10 & Ascent libraries; services-API integration;
							100% test coverage using Karma-Jasmine.
						</li>
						<li class="li_style">
							<b><i>Spring & PL/SQL</i></b> - development of RESTful web services/API using Spring Boot v2, Java 8,
							MyBatis, Microservice architectures, Maven,Postman API, Tomcat and SQL/<b><i>Oracle databases</i></b>;
							testcases using Junit testing framework.
						</li>
						<li class="li_style">
							Code fix for client <b><i>critical/production bug</i></b> in the entire 13 codebase or product
							engineering environment; maintained standard code quality.
						</li>
						<li class="li_style">
							Analysis, development, debugging, End-to-end functional testing, code review & deployment.
							<b><i>DevOps</i></b>:- <b><i>Jenkins</i></b>, CI/CD, Git; Visual studio code & Eclipse IDE, Bitbucket,
							Confluence, Jira, PuTTY, WinSCP
						</li>
					</ul>
				</div>

			</mat-card-content>
			<mat-card-actions style="margin-bottom: 10px; padding-bottom: 15px;">

				<span>
					<i style="float:right;">Asia Pacific Solutions Delivery Center, Bangalore - India</i>
				</span>
			</mat-card-actions>
		</mat-card>
	</mat-tab>
</mat-tab-group>