.no_href_style{
   text-decoration: none;
    color: inherit;

}

.li_style{
    height: auto; 
    padding-top: 8px; 
    padding-bottom: 8px
}

.right-align{
    float: right !important;
    font-size: 14px;
}

.mat-mdc-card-actions{
    justify-content: flex-end !important;
}