<!-- <dkm-custom-card [data]="experiencesData"></dkm-custom-card> -->
<!-- <hr> -->
<mat-tab-group mat-align-tabs="start">
    <span>
        <mat-tab label="CGI / Product Engineering">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar
                        [ngStyle]="{'background-image': 'url(' + cgiImagePathOrUrl + ')', 'background-size': 'cover'  }">
                    </div>
                    <mat-card-title>
                        CGI Information Systems and Management Consultants Pvt. Ltd.
                    </mat-card-title>
                    <mat-card-subtitle>
                        Senior Software Engineer / CONSULTANT <i style="float: right;">2021 - present</i>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div>
                        <h2><b>DataCycle360</b> mobile app: - which enables document management workflow including document life cycle automation.</h2> 
                        <span style="float: right">(< €1M Investment B2B product; Government industries)</span><br/>
                        <ul>
                            <li style="height: auto; padding-top: 8px; padding-bottom: 8px;">
                                Built features such as <b><i>document routing</i></b> for user/group with verify/approve/transfer/clarification/reject workflow status; workflow & archive – virtual folders, details, history, attachments, comment, accounting row, document free-text search, settings feature.
                            </li>
                            <li style="height: auto; padding-top: 8px; padding-bottom: 8px;">
                                Designed <b><i>Architecture</i></b> of UI application using Angular 17 & Re-write of SOAP API to REST API using Spring Boot v2.7, JDK1.8.
                            </li>
                            <li style="height: auto; padding-top: 8px; padding-bottom: 8px;">
                                <b><i>Collaboration</i></b> with CGI Finland team members to ensure developed software business logic is aligned with product requirement on dayto-day basis in the <b><i>Kanban and Agile framework</i></b> with individual contribution to 55+ epics & stories.
                            </li>
                            <li style="height: auto; padding-top: 8px; padding-bottom: 8px;">
                                Implemented <b><i>Customizable</i></b> component, i18n <b><i>localization</i></b> feature, Keycloak customization, Session handling & Swagger-ui API documentation; nginx, Prism server; GitHub Copilot
                            </li>
                        </ul>
                        <h2><b>Webshop product</b>: - an B2B eCommerce platform which is responsible for ordering items & approving purchases.</h2>
                        <ul>
                            <li style="height: auto; padding-top: 8px; padding-bottom: 8px;">
                                Investigation of 60+ story (105+ MR) including required functionality & features; Implemented new UI features using <b><i>Angular 16</i></b>.
                            </li>
                            <li style="height: auto; padding-top: 8px; padding-bottom: 8px;">
                                Developed backend APIs using <b><i>Spring Boot v3, Java 21</i></b>, Apache Solr which involves CRUD operations, spellcheck suggest search functionality; Created REST APIs for Webshop-Advantage application integration with Purchase requests features & bug fixes.
                            </li>
                            <li style="height: auto; padding-top: 8px; padding-bottom: 8px;">
                                Designed database data model, schema modification using <b><i>MS SQL database</i></b> technologies; SQL query tuning to optimize performance.
                            </li>
                        </ul>
                    </div>
                    <mat-divider></mat-divider>
                    <div>
                        <h2 style="padding-top: 10px;"><b>Wealth360</b>: - which delivers a flexible Unified Account Platform with goal-based investing capabilities and provides end-to-end investment management support.</h2> 
                        <span style="float: right">(Clients:- Canadian banks- CIBC, TD bank, BMO, Aviso; Banking & capital markets)</span><br/>
                        <ul>
                            <li style="height: auto; padding-bottom: 8px;">
                                Worked as a full-stack Engineer with <b><i>Product Engineering</i></b> perspective on <b><i>Digital Wealth Platform product</i></b>.
                            </li>
                            <li style="height: auto; padding-top: 8px; padding-bottom: 8px;">
                                <b><i>Technical Analysis</i></b> of 140+ epic, story, performance, technical task, bug root cause, and designed solutions meeting industry standard.

                            </li>
                            <li style="height: auto; padding-top: 8px; padding-bottom: 8px;">
                                <b><i>Angular</i></b> – development of new UI screen Including the <b><i>building reusable component</i></b>, service with HTML, SCSS, TypeScript, AG Grid, angular material, RxJs, Lodash & JavaScript, AngularJS, that works in multiple areas of application; <b><i>Architecture upgrades</i></b> - Angular v8 to v10 & Ascent libraries; services-API integration; 100% test coverage using Karma-Jasmine.
                            </li>
                            <li style="height: auto; padding-top: 8px; padding-bottom: 8px;">
                                <b><i>Spring & PL/SQL</i></b> – development of RESTful web services/API using Spring Boot v2, Java 8, Microservice architectures, Maven, Postman API and SQL/<b><i>Oracle databases</i></b>; testcases using Junit testing framework.
                            </li>
                            <li style="height: auto; padding-top: 8px; padding-bottom: 8px;">
                                Code fix for <b><i>business/client critical/production bug</i></b> in the entire 13 codebase or product engineering environment; code reviews; ensured code quality and maintained standard coding style.
                            </li>
                            <li style="height: auto; padding-top: 8px; padding-bottom: 8px;">
                                <b><i>Analysis, development, debugging, Testing, deployment</i></b> & collaborating with business to ensure bug-free user experience and with PuTTY, WinSCP; <b><i>DevOps:- Jenkins</i></b>, CI/CD, Git; Bitbucket, Confluence, Jira tools on day-to-day basis in the <b><i>Agile</i></b> environment.
                            </li>
                        </ul>
                    </div>

                </mat-card-content>
                <mat-card-actions style="margin-bottom: 10px; padding-bottom: 15px;">
                    
                    <span>
                        <i style="float:right;">Asia Pacific Solutions Delivery Center, Bangalore - India</i>
                    </span>
                </mat-card-actions>
            </mat-card>
        </mat-tab>
    </span>
</mat-tab-group>