<mat-accordion [multi]="true">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img [src]="evImagePathOrUrl" class="stepper-icon"> &nbsp; EdgeVerve
      </mat-panel-title>
      <mat-panel-description>Jan 2026 - Present</mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <dkm-edgeverve-experience></dkm-edgeverve-experience>
    </mat-card>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img [src]="cgiImagePathOrUrl" class="stepper-icon"> &nbsp; CGI
      </mat-panel-title>
      <mat-panel-description>Sept. 2021 - Jan. 2026</mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <dkm-cgi-experience></dkm-cgi-experience>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
