<mat-tab-group mat-align-tabs="start">
  @for (entity of data; track entity) {
    <span>
      <mat-tab label={{entity.tabLabel}}>
        <mat-card>
          @for (skill of entity.skills; track skill) {
            <mat-list role="list">
              <mat-list-item role="listitem" style="height: auto; padding: 8px;">
                <mat-card-header>
                  <div mat-card-avatar
                    [ngStyle]="{'background-image': 'url(' + skill.imagePathOrUrl + ')', 'background-size': 'cover'  }">
                  </div>
                  <mat-card-subtitle>{{skill.cardSubTitle}}</mat-card-subtitle>
                </mat-card-header>
              </mat-list-item>
            </mat-list>
          }
        </mat-card>
      </mat-tab>
    </span>
  }
</mat-tab-group>