.footer {
  padding-top: 10px;
  /* width: 95vw */
  padding-bottom: 10px;
}

.footer-picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-heading {
  text-align: right;
  align-items: center;
}