<div class="footer">

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><i>
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          Guwahati, INDIA
        </i></mat-card-title>
      <mat-card-subtitle>&copy; 2020 Deepak. For queries contact <a
          href="mailto:dkmiitg@gmail.com"><b>dkm.iitg@gmail.com</b></a>
      </mat-card-subtitle>

    </mat-card-header>

  </mat-card>


</div>