<div class="footer">

  <mat-card>
      <div mat-card-avatar class="example-header-image"></div>
        <div style="display: flex; justify-content: space-evenly;" >
        <div>
          <a href="https://goo.gl/maps/GebWoMq6Q7fBhKFc9"><mat-icon> place </mat-icon></a>
        </div> 
        <div>
          <a href="mailto:dkmiitg@gmail.com"><mat-icon> email </mat-icon></a> 
        
        </div>
        <div>
          <a href="https://github.com/deepak-mandal"><mat-icon> github </mat-icon></a> 
        </div>
        
      </div>
      <!-- <mat-card-subtitle> -->
        <div style="text-align: center ;">
          <mat-card-subtitle>
            &copy; 2020 Deepak. For queries contact <a
            href="mailto:dkmiitg@gmail.com"><b style="color:gray;">dkm.iitg@gmail.com</b></a>
          </mat-card-subtitle>
         
        </div>
   
      <!-- </mat-card-subtitle> -->


  </mat-card>


</div>