<mat-card>
  <mat-card-header>
    <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + imagePathOrUrl + ')', 'background-size': 'cover'  }">
    </div>
    <mat-card-title>
      {{cardTitle}}
    </mat-card-title>
    <mat-card-subtitle>
      {{cardSubTitle}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{cardContentData}}
    <mat-list role="list" *ngFor="let listData of cardContentList">
      <mat-list-item role="listitem" class="card-content">
        <li>
          {{listData}}
        </li>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>