<mat-card>
  <mat-card-header>
    <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + imagePathOrUrl + ')', 'background-size': 'cover'  }">
    </div>
    <mat-card-title>
      {{cardTitle}}
    </mat-card-title>
    <mat-card-subtitle>
      {{cardSubTitle}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{cardContentData}}
    @for (listData of cardContentList; track listData) {
      <mat-list role="list">
        <mat-list-item role="listitem" class="card-content">
          <li>
            {{listData}}
          </li>
        </mat-list-item>
      </mat-list>
    }
  </mat-card-content>
</mat-card>