<mat-tab-group mat-align-tabs="start">
  <mat-tab label="CGI">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>CGI Information Systems and Management Consultants Pvt. Ltd.</mat-card-title>
        <mat-card-subtitle>Software Engineer / CONSULTANT / Full Stack Developer</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem" style="height: auto; padding-top: 8px; padding-bottom: 8px;">
            Foundation skills & Java full-stack immersive training including Product Engineering</mat-list-item>
          <mat-list-item role="listitem" style="height: auto; padding-top: 8px; padding-bottom: 8px;"> 
            Worked on Digital Wealth Platform (CGI Wealth360) product features in Angular
            - Development of new UI screen,
            Includes building reusable component, services with HTML/SCSS/TS/JS that works in multiple areas of
            application, service
            integration with backend API and Testing
          </mat-list-item>
          <mat-list-item role="listitem" style="height: auto; padding-top: 8px; padding-bottom: 8px;"> 
            Development, debugging & Testing using Spring (Java), Angular framework, Oracle database on day-to-day basic in the Portfolio and Trading (Capital Markets) Domains for top largest Canadian bank(s)
          </mat-list-item>
          <mat-list-item role="listitem" style="height: auto; padding-top: 8px; padding-bottom: 8px;">
            Technologies used: Java, Spring, Angular, TypeScript/JavaScript, Angular
            materials, AgGrid, SQL/MySQL/Oracle, NoSQL/MongoDB, Git</mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions style="margin-bottom: 10px; padding-bottom: 15px;">
        Sept 2021-present <i style="float:right;">Asia Pacific Solutions Delivery Center, Bangalore - India</i>
      </mat-card-actions>
      <!-- Sept 2021-present <i style="float:right; padding-bottom:10px">Asia Pacific Solutions Delivery Center, Bangalore - India</i> -->
    </mat-card>

  </mat-tab>
  <mat-tab label="Accenture">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="ac"></div>
        <mat-card-title>Accenture Solutions Pvt. Ltd.</mat-card-title>
        <mat-card-subtitle>Pre-Onboard Learning</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem" style="height: auto; padding-top: 8px; padding-bottom: 8px;">
            Java Technologies + Oracle Database</mat-list-item>
        </mat-list>
      </mat-card-content>
      <!-- Aug - Sept 2021 -->
      <mat-card-actions style="margin-bottom: 10px; padding-bottom: 15px;">
        Aug - Sept 2021
      </mat-card-actions>
    </mat-card>
  </mat-tab>
</mat-tab-group>