<mat-tab-group mat-align-tabs="start">
  <mat-tab label="ReviewBook - Java">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="cgi"></div>
        <mat-card-title>ReviewBook Platform</mat-card-title>
        <mat-card-subtitle>CGI - Product Engineering </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <li>
              Worked on Core Problem - “How to motivate maximum number of consumers to provide genuine
              reviews and ratings that
              can influence buying decisions of other consumers”.
            </li>
          </mat-list-item>
          <mat-list-item role="listitem">
            <li>
              Developed Microservices for Registration, Login, Product Management, Review Management,
              Recommendation Service,
              Eureka Server, API Gateway; Angular-Spring framework integration.
            </li>
          </mat-list-item>
          <mat-list-item role="listitem">
            <li>
              Technologies used: Backend - Spring Boot, Mongo DB, MySQL, RabbitMQ; Frontend - Angular,
              DevOps - Docker, AWS.
            </li>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      Dec 2021- Jan 2022 <i style="float:right;">https://reviewbook.stackroute.io/</i>
    </mat-card>
  </mat-tab>
  <mat-tab label="Conference Website - PHP">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="iitg"></div>
        <mat-card-title>Conference Website</mat-card-title>
        <mat-card-subtitle>Department of Chemistry, IITG</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <li>
              Developed PHP based full-stack conference web app with my team members.
            </li>
          </mat-list-item>
          <mat-list-item role="listitem">
            <li>
              Developed the admin portal for the response to edit/delete.
            </li>
          </mat-list-item>
          <mat-list-item role="listitem">
            <li>
              Technologies used: Backend - PHP, MySQL; Frontend - HTML, CSS & Bootstrap
            </li>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      April 2020-June 2020<i style="float:right;">IIT Guwahati</i>
    </mat-card>
  </mat-tab>

  <mat-tab label="Web and PDF file Data Extraction - NLP">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="dkm"></div>
        <mat-card-title>Web and PDF file Data Extraction</mat-card-title>
        <mat-card-subtitle>DueDash</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <li>
              <b>Summarization of Text:-</b> Generated the summary from the Source text either web link or PDF file.
              Further Drawn their Word Cloud
            </li>
          </mat-list-item>
          <mat-list-item role="listitem">
            <li>
              <b>Text and Image Extraction from any Web Link or URL:-</b> Extraced Images and text data from the web
              Links and PDF files.
            </li>
          </mat-list-item>
          <mat-list-item role="listitem">
            <li>
              Technologies used: Python3, BeautifulSoup/bs4, PyPDF2, SpaCy, NLTK, WordCloud, NumPy,
              Shutil, OS, parse, requests
            </li>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      Selected for Product Development & Testing, Internship (work remotely) at Germany based Startup<a
        href="https://github.com/deepak-mandal/DueDash-Germany"
        style="float:right;">https://github.com/deepak-mandal/DueDash-Germany</a>
    </mat-card>
  </mat-tab>
  
  <mat-tab label="Cricket Game - Python">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="internshala"></div>
        <mat-card-title>Fantasy Cricket Game</mat-card-title>
        <mat-card-subtitle>Internshala Trainings</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <li>
              Developed a Python-based desktop application using PyQt framework with SQLite Database.
            </li>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      July 2020<a href="https://bit.ly/3unDxiv" style="float:right;">https://github.com/deepak-mandal/Game</a>
    </mat-card>
  </mat-tab>
  <mat-tab label="Price Prediction - Machine learning">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="dkm"></div>
        <mat-card-title>House Price Prediction</mat-card-title>
        <mat-card-subtitle>Self-paced project using Machine learning technique</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <li>
              Built a Linear Regression Model to Predict the Sale Price of the House based on its
              characteristics.
            </li>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      April 2021-May 2021<a href="https://bit.ly/3wu5gzq"
        style="float:right;">https://github.com/deepak-mandal/SalePricePrediction</a>
    </mat-card>
  </mat-tab>
 
  <mat-tab label="Email Automation">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="dkm"></div>
        <mat-card-title>Email Automation with Python</mat-card-title>
        <mat-card-subtitle>Self-paced project</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <li>
              Automating emails by the help of Python, smtplib, Linux & Window OS, HTML, CSS, with
              attachments using Encrypted connections.
            </li>
          </mat-list-item>
          <mat-list-item role="listitem">
            <li>
              Extracted emails automatically from the Linkedin Post using selenium, chrome automated test
              software, re, pandas,
            </li>
          </mat-list-item>
          <mat-list-item role="listitem">
            <li>
              Features:- Multiple emails can in one go or on single click, The delivered email is of
              personalised type i.e. "to" for each single email_Id but not "bcc" or "cc" e-mail type
            </li>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      2020<a href="https://github.com/deepak-mandal/Email-Automation-with-Python"
        style="float:right;">https://github.com/deepak-mandal/Email-Automation-with-Python</a>
    </mat-card>
  </mat-tab>
  <mat-tab label="Text Analysis and Mining">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="dkm"></div>
        <mat-card-title>Wikipedia Text Analytics and Mining</mat-card-title>
        <mat-card-subtitle>Self-paced project</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <li>
              Analysed the unstructured data (article) using text mining and created the Word Cloud out of that; to
              understand what these article trying to say, rather than reading the entire article.
            </li>
          </mat-list-item>
          <mat-list-item role="listitem">
            <li>
              Technologies used: Python3, WordCloud
            </li>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      Dec 2020<a href="https://github.com/deepak-mandal/Word-Cloud-from-Text-Mining"
        style="float:right;">https://github.com/deepak-mandal/Word-Cloud-from-Text-Mining</a>
    </mat-card>
  </mat-tab>
</mat-tab-group>