<mat-tab-group mat-align-tabs="start">
    <mat-tab label="ReviewBook - Java">
      
        <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>ReviewBook Platform</mat-card-title>
              <mat-card-subtitle>CGI - Product Engineering <i style="float: right;">Dec 2021- Jan 2022</i></mat-card-subtitle>
            </mat-card-header>
            <!-- <img mat-card-image src="" alt="Photo of Deepak"> -->
            <mat-card-content>
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <li>
                            Worked on Core Problem - “How to motivate maximum number of consumers to provide genuine reviews and ratings that
                        can influence buying decisions of other consumers”.
                        </li>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                    <li>
                        Developed Microservices for Registration, Login, Product Management, Review Management, Recommendation Service,
                        Eureka Server, API Gateway.
                    </li>
                    </mat-list-item>

                    <mat-list-item role="listitem">
                        <li>
                            Technologies used: Backend - Spring Boot, Mongo DB, MySQL, RabbitMQ; Frontend - Angular, DevOps - Docker, AWS.
                        </li>
                    </mat-list-item>

                  </mat-list>
            </mat-card-content>
            <i style="float:right;">https://reviewbook.stackroute.io/</i>
          </mat-card>
          
        














    </mat-tab>

    <mat-tab label="Conference Website - PHP">
      
        <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>CRSI Conference Website</mat-card-title>
              <mat-card-subtitle>CGI - Product Engineering</mat-card-subtitle>
            </mat-card-header>
            <!-- <img mat-card-image src="" alt="Photo of Deepak"> -->
            <mat-card-content>
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <li>
                            Developed PHP based full-stack conference web app with my team members.
                        </li>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                    <li>
                        Developed the admin portal for the response to edit/delete.
                    </li>
                    </mat-list-item>

                    <mat-list-item role="listitem">
                        <li>
                            Technologies used: Backend - PHP, MySQL; Frontend - HTML, CSS & Bootstrap
                        </li>
                    </mat-list-item>

                  </mat-list>
            </mat-card-content>
            Dec 2021- Jan 2022<i style="float:right;">IIT Guwahati</i>
          </mat-card>
          
        














    </mat-tab>

    <mat-tab label="Conference Website - PHP">Content 3



    </mat-tab>
    <mat-tab label="Cricket Game - Python">Content 3</mat-tab>
    <mat-tab label="Price Prediction - Machine learning">Content 3</mat-tab>
</mat-tab-group>