.mat-tab-group {
  margin-bottom: 48px;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

::ng-deep .mat-step-header .mat-step-icon {
 background: red//linear-gradient(to right, rgb(227, 25, 55), rgb(82, 54, 171));
}

::ng-deep .mat-vertical-stepper-content {
  visibility: visible !important;
  height: 100% !important;
}

::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
 //color: rgb(227, 25, 55);
}