<profile></profile>
<mat-accordion multi="true">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="gradient-icon">school</mat-icon>
        <span class="ms-2">Education</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
      <education></education>
    </mat-card>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="gradient-icon">business</mat-icon>
        <span class="ms-2">Experiences</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
      <experiences></experiences>
    </mat-card>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="gradient-icon">business_center</mat-icon>
        <span class="ms-2">Projects</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
      <projects></projects>
    </mat-card>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="gradient-icon">sort</mat-icon>
        <span class="ms-2">Technical Skills</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
      <tech-skills></tech-skills>
    </mat-card>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="gradient-icon">wallpaper</mat-icon>
        <span class="ms-2">Certifications</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
      <certificates></certificates>
    </mat-card>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="gradient-icon">star</mat-icon>
        <span class="ms-2">Achievements</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
      <achievements></achievements>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
<footer></footer>
