.viscol{
        text-decoration:none; background: linear-gradient(to right, rgb(227, 25, 55), rgb(82, 54, 171)); -webkit-text-fill-color: transparent; -webkit-background-clip: text;
}

.viscol-img {
    width: 64px;
    height: auto;
    object-fit: cover;
    vertical-align: middle;
    display: inline-block;
    margin-left: 4px;
    cursor: pointer;
}