.footer {
    padding-top: 10px;
    /* width: 95vw */
    padding-bottom: 10px;
  }
  
  .footer-picture {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .profile-heading {
    text-align: right;
    align-items: center;
  }