<div class="footer">
  <mat-card>
    <!-- <div class="move">
        <marquee direction="left" height="100%" behavior="scroll" onmouseover="this.stop();" onmouseout="this.start();">
          <p>
            <i style=" background: linear-gradient(to right, rgb(227, 25, 55), rgb(82, 54, 171));
    -webkit-text-fill-color: transparent; -webkit-background-clip: text;">
              Hey there! I'm Deepak. It's great to see you here! Thanking you..</i>
          </p>
        </marquee>
      </div> -->

    <div class="footer-picture">
      <div>
        <a href="https://goo.gl/maps/WQ7mi944UBfRMpG87" target="_blank">
          <mat-icon> place </mat-icon>
        </a>
      </div>
      <div>
        <a href="mailto:deepa170122014@alumni.iitg.ac.in">
          <mat-icon> email </mat-icon>
        </a>
      </div>
      <div>
        <a href="https://github.com/deepak-mandal" target="_blank">
          <mat-icon> code </mat-icon>
        </a>
      </div>
      <div>
        <a href="https://www.linkedin.com/in/deepakmandal/" target="_blank">
          <mat-icon>account_circle</mat-icon>
        </a>
      </div>
      <!-- <div>
          <a><img src="https://s01.flagcounter.com/count/YIGL/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_4/viewers_0/labels_0/pageviews_1/flags_0/percent_1/" alt="Flag Counter" border="0"></a>
        </div> -->
    </div>
    <div style="text-align: center ;">
      <mat-card-subtitle>
        &copy; 2020 - {{currentYear}}
        <b (click)="openDialog()" class="blackletter-font"
          style="text-decoration:none; background: linear-gradient(to right, rgb(227, 25, 55), rgb(82, 54, 171)); -webkit-text-fill-color: transparent; -webkit-background-clip: text; background-clip: text;">
          DEEPAK</b>
        <!-- . For queries contact  -->
        <!-- <a href="mailto:dkmiitg@gmail.com">
              <b
              style="text-decoration:none; background: linear-gradient(to right, rgb(227, 25, 55), rgb(82, 54, 171)); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">dkm.iitg@gmail.com
            </b></a> -->
      </mat-card-subtitle>
    </div>
  </mat-card>
</div>