<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Programming languages">
    <mat-card>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-card-header>
            <div mat-card-avatar class="java"></div>
            <mat-card-subtitle>Java</mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-card-header>
            <div mat-card-avatar class="py"></div>
            <mat-card-subtitle>Python</mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-card-header>
            <div mat-card-avatar class="js"></div>
            <mat-card-subtitle>JavaScript</mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-card-header>
            <div mat-card-avatar class="ts"></div>
            <mat-card-subtitle>TypeScript</mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-card-header>
            <div mat-card-avatar class="php"></div>
            <mat-card-subtitle>php</mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </mat-tab>
  <mat-tab label="Web technologies">
    <mat-card>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-card-header>
            <div mat-card-avatar class="spring"></div>
            <mat-card-subtitle>Spring</mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-card-header>
            <div mat-card-avatar class="angular"></div>
            <mat-card-subtitle>Angular</mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-card-header>
            <div mat-card-avatar class="html"></div>
            <mat-card-subtitle>HTML</mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-card-header>
            <div mat-card-avatar class="css"></div>
            <mat-card-subtitle>CSS</mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-card-header>
            <div mat-card-avatar class="bootstarp"></div>
            <mat-card-subtitle>BootStrap</mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </mat-tab>
  <mat-tab label="Database management">
    <mat-card>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-card-header>
            <div mat-card-avatar class="oracle"></div>
            <mat-card-subtitle>Oracle</mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-card-header>
            <div mat-card-avatar class="mongodb"></div>
            <mat-card-subtitle>MongoDB</mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-card-header>
            <div mat-card-avatar class="mysql"></div>
            <mat-card-subtitle>MySQL</mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-card-header>
            <div mat-card-avatar class="sqlite"></div>
            <mat-card-subtitle>SQLite</mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </mat-tab>
  <mat-tab label="Analytical tools">
    <mat-card>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-card-header>
            <div mat-card-avatar class="pandas"></div>
            <mat-card-subtitle>Pandas</mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-card-header>
            <div mat-card-avatar class="numpy"></div>
            <mat-card-subtitle>NumPy</mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-card-header>
            <div mat-card-avatar class="matplotlib"></div>
            <mat-card-subtitle>Matplotlib</mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-card-header>
            <div mat-card-avatar class="ml"></div>
            <mat-card-subtitle>scikit-learn, NLTK, SpaCy, WordCloud, BeautifulSoup, Natural Language Processing (NLP),
              Seaborn, Machine Learning
            </mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </mat-tab>
  <mat-tab label="Miscellaneous">
    <mat-card>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-card-header>
            <div mat-card-avatar class="rabbitmq"></div>
            <mat-card-subtitle>RabbitMQ</mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-card-header>
            <div mat-card-avatar class="docker"></div>
            <mat-card-subtitle>Docker</mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-card-header>
            <div mat-card-avatar class="git"></div>
            <mat-card-subtitle>git</mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-card-header>
            <div mat-card-avatar class="excel"></div>
            <mat-card-subtitle> MS Excel</mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-card-header>
            <div mat-card-avatar class="dsa"></div>
            <mat-card-subtitle>Data structures & Algorithms</mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </mat-tab>
  <mat-tab label="Operating system">
    <mat-card>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-card-header>
            <div mat-card-avatar class="linux"></div>
            <mat-card-subtitle>Linux</mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-card-header>
            <div mat-card-avatar class="window"></div>
            <mat-card-subtitle>Windows</mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </mat-tab>
</mat-tab-group>