<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Programming languages">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="java"></div>
        <mat-card-title>Java</mat-card-title>
      </mat-card-header>
      <mat-card-header>
        <div mat-card-avatar class="py"></div>
        <mat-card-title>Python</mat-card-title>
      </mat-card-header>


    </mat-card>



  </mat-tab>
  <mat-tab label="Web technologies">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="spring"></div>
        <mat-card-title>Spring</mat-card-title>
      </mat-card-header>
      <mat-card-header>
        <div mat-card-avatar class="angular"></div>
        <mat-card-title>Angular</mat-card-title>
      </mat-card-header>


    </mat-card>
  </mat-tab>
  <mat-tab label="Database management">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="mongodb"></div>
        <mat-card-title>NoSQL</mat-card-title>
      </mat-card-header>
      <mat-card-header>
        <div mat-card-avatar class="mysql"></div>
        <mat-card-title>SQL</mat-card-title>
      </mat-card-header>



    </mat-card>
  </mat-tab>
  <mat-tab label="Analytical tools">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="py"></div>
        <mat-card-title>Pandas</mat-card-title>
      </mat-card-header>
      <mat-card-header>
        <div mat-card-avatar class="py"></div>
        <mat-card-title>Matplotlib</mat-card-title>
      </mat-card-header>


    </mat-card>
  </mat-tab>
  <mat-tab label="Miscellaneous">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="rabbitmq"></div>
        <mat-card-title>RabbitMQ</mat-card-title>
      </mat-card-header>
      <mat-card-header>
        <div mat-card-avatar class="docker"></div>
        <mat-card-title>Docker</mat-card-title>
      </mat-card-header>


    </mat-card>
  </mat-tab>

</mat-tab-group>