.java {
  background-image: url('../images/java.png');
  background-size: cover;
}


.py {
  background-image: url('../images/py.png');
  background-size: cover;
}

.spring {
  background-image: url('../images/spring.png');
  background-size: cover;
}


.angular {
  background-image: url('../images/angular.png');
  background-size: cover;
}


.mysql {
  background-image: url('../images/mysql.png');
  background-size: cover;
}


.mongodb {
  background-image: url('../images/mongodb.png');
  background-size: cover;
}


.rabbitmq {
  background-image: url('../images/rabbitmq.png');
  background-size: cover;
}

.docker {
  background-image: url('../images/docker.png');
  background-size: cover;
}