<mat-tab-group mat-align-tabs="start">
  <mat-tab label="CGI's appreciation">
    <mat-card>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div mat-card-avatar class="example-header-image"></div>
              <b>&nbsp;APPLAUD — Celebrating CGI’s values</b>
            </mat-panel-title>
            <mat-panel-description>
              {{panelOpenState ? 'hide' : 'show'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card><img mat-card-image [src]="cgiAppreciation" [alt]="'CGI'" /> </mat-card>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </mat-tab>
  <mat-tab label="CoS & CCD @IITG">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image-iit"></div>
        <mat-card-title>Community Services & Centre for Career Development</mat-card-title>
        <mat-card-subtitle>Participated in Football & Yoga student’s activity,
          and been a part of Community Services during 2017-19 at IITG
        </mat-card-subtitle>
        <mat-card-subtitle>Participated as a volunteer during the placement season 2019-20 at CCD, IITG
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-tab>
</mat-tab-group>