.example-header-image {
    background-image: url('../images/cgi.png');
    background-size: cover;
}

.example-header-image-iit {
    background-image: url('../images/IITG.png');
    background-size: cover;
}
