/*  // Core grid CSS, always needed */
@import 'ag-grid-community/styles/ag-grid.css';
/* // Optional theme CSS */
@import 'ag-grid-community/styles/ag-theme-alpine.css'; 

.mat-tab-group {
  margin-bottom: 48px;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: red
    /* rgb(227, 25, 55); */
}