<div style="width:100vw; height:50vh; background-color: aquamarine; color:red">
    
    <h1>
        <b>
            Deepak Kumar Mandal || Software Engineer, CGI || B.Tech, IIT Guwahati
        </b>
    </h1>

</div>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Deepak</mat-card-title>
      <mat-card-subtitle>Software Engineer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="" alt="Photo of Deepak">
    <mat-card-content>
      <p>
        Deepak has significant experties in java technology
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Next</button>
      <button mat-button>Comment</button>
    </mat-card-actions>
  </mat-card>
  
