<profile></profile>
<mat-stepper [orientation]="stepperOrientation" #stepper (selectionChange)="selectionChange($event)">
  <mat-step [stepControl]="firstFormGroup" state="edu" label="">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel *ngIf="!isLinear">Education</ng-template>
      <mat-card>
        <education></education>
      </mat-card>
      <!-- <div>
        <button mat-raised-button color="accent" matStepperNext style="margin:10px">Next</button>
      </div> -->
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" state="exp" label="">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel *ngIf="!isLinear">Experiences</ng-template>
      <mat-card>
        <experiences></experiences>
      </mat-card>
      <!-- <div>
        <button mat-raised-button color="primary" matStepperPrevious style="margin:10px">Back</button>
        <button mat-raised-button color="accent" matStepperNext style="margin:10px">Next</button>
      </div> -->
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" state="proj" label="">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel *ngIf="!isLinear">Projects</ng-template>
      <mat-card>
        <projects></projects>
      </mat-card>
      <!-- <div>
        <button mat-raised-button color="primary" matStepperPrevious style="margin:10px">Back</button>
        <button mat-raised-button color="accent" matStepperNext style="margin:10px">Next</button>
      </div> -->
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" state="skill" label="">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel *ngIf="!isLinear">Technical Skills</ng-template>
      <mat-card>
        <tech-skills></tech-skills>
      </mat-card>
      <!-- <div>
        <button mat-raised-button color="primary" matStepperPrevious style="margin:10px">Back</button>
        <button mat-raised-button color="accent" matStepperNext style="margin:10px">Next</button>
      </div> -->
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" state="certi" label="">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel *ngIf="!isLinear">Certifications</ng-template>
      <mat-card>
        <certificates></certificates>
      </mat-card>
      <!-- <div>
        <button mat-raised-button color="primary" matStepperPrevious style="margin:10px">Back</button>
        <button mat-raised-button color="accent" matStepperNext style="margin:10px">Next</button>
      </div> -->
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" state="ach" label="">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel *ngIf="!isLinear">Achievements</ng-template>
      <mat-card>
        <achievements></achievements>
      </mat-card>
      <!-- <div>
        <button mat-raised-button color="primary" matStepperPrevious style="margin:10px">Back</button>
        <button mat-raised-button color="accent" matStepperNext style="margin:10px">Next</button>
      </div> -->
    </form>
  </mat-step>
  <!-- <mat-step [stepControl]="secondFormGroup" state="extra" label="extra">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Extracurriculars</ng-template>
      <mat-card>
        <extracurriculars></extracurriculars>
      </mat-card>
      <div>
        <button mat-raised-button color="primary" matStepperPrevious style="margin:10px">Back</button>
        <button mat-raised-button (click)="stepper.reset()" color="accent">Navigate to Top</button>
      </div> 
    </form>
  </mat-step> -->
  <ng-template matStepperIcon="edu">
    <mat-icon>school</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="exp">
    <mat-icon> business </mat-icon>
  </ng-template>
  <ng-template matStepperIcon="proj">
    <mat-icon> business_center </mat-icon>
  </ng-template>
  <ng-template matStepperIcon="skill">
    <mat-icon> sort </mat-icon>
  </ng-template>
  <ng-template matStepperIcon="certi">
    <mat-icon> wallpaper </mat-icon>
  </ng-template>
  <ng-template matStepperIcon="ach">
    <mat-icon> star </mat-icon>
  </ng-template>
  <ng-template matStepperIcon="extra">
    <mat-icon> public </mat-icon>
  </ng-template>
  <ng-template matStepperIcon="edit">
    <mat-icon> {{iconValue}} </mat-icon>
  </ng-template>
</mat-stepper>
<footer></footer>