    <mat-card>
      <mat-card-header>
        <div mat-card-avatar
          [ngStyle]="{'background-image': 'url(' + evImagePathOrUrl + ')', 'background-size': 'cover'  }">
        </div>
        <mat-card-title>
          <a class="no_href_style" href="https://www.edgeverve.com/" target="_blank">EdgeVerve Systems Limited
            (Infosys)</a>
        </mat-card-title>
        <mat-card-subtitle>
          Product Technical Analyst
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          <h2><b><a class="no_href_style" href="https://www.finacle.com/" target="_blank">Finacle</a></b><span
              class="right-align">(Banking)</span></h2>
          <ul>
            <li class="li_style">
              <b><i>System design</i></b>, solution use case with <b><i>HLD</i></b> and <b><i>LLD</i></b>,
              backend development using <b><i>Java, Spring boot, Kafka, Redis</i></b> in the <b><i>Infosys
                  Finacle</i></b> product.
            </li>
          </ul>
        </div>

      </mat-card-content>
      <mat-card-actions style="margin-bottom: 10px; padding-bottom: 15px;">

        <span>
          <i style="float:right;">Bangalore - India</i>
        </span>
      </mat-card-actions>
    </mat-card>