<mat-card>
  <mat-card-header>
    <div mat-card-avatar
      [ngStyle]="{'background-image': 'url(' + evImagePathOrUrl + ')', 'background-size': 'cover'  }">
    </div>
    <mat-card-title>
      <a class="no_href_style" href="https://www.edgeverve.com/" target="_blank">EdgeVerve Systems Limited</a>
    </mat-card-title>
    <mat-card-subtitle>
      Product Technical Analyst
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <h2>
        <span class="step-label-title">
          <b>Finacle</b>
          <a class="step-link-icon no_href_style" href="https://www.finacle.com/" target="_blank" aria-label="Open Finacle in new tab">
            <mat-icon>open_in_new</mat-icon>
          </a>
        </span>
        <span class="right-align">DNB bank, Norway; Core Banking</span>
      </h2>
      <ul>
        <li class="li_style">
          System design, solution use case with HLD and LLD, backend development using Java, Spring boot, microservices
        </li>
        <li class="li_style">
          Design & development of Finacle banking platform using Spring boot, Kafka, Redis, Spring AOP, Custom annotation
        </li>
        <li class="li_style">
          Delivered access management in Contract APIs using Spring security & Enabled custom field support in deal/facility API with Kafka event.
        </li>
         <li class="li_style">
          Used Clojure for data validation and payload mapping to internal system data structure.
        </li>
        <li class="li_style">
          Implemented custom exception feature in the create, modify & retrieve deal/facility API and audit feature in the expire deal/facility API
        </li>
      </ul>
    </div>

  </mat-card-content>
  <mat-card-actions style="margin-bottom: 10px; padding-bottom: 15px;">

    <span>
      <i style="float:right;">Bangalore, India</i>
    </span>
  </mat-card-actions>
</mat-card>