<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Certified Python Marketing Analytics (CPMA)">
    <mat-card>
      <img mat-card-image [src]="cpmaImg" [alt]="cpmaAlt">
    </mat-card>
  </mat-tab>
  <mat-tab label="Programming in Python">
    <mat-card>
      <img mat-card-image [src]="pyImg" [alt]="pyAlt">
    </mat-card>
  </mat-tab>
  <mat-tab label="Data Structures and Algorithms">
    <mat-card>
      <img mat-card-image [src]="dsaImg" [alt]="dsaAlt">
    </mat-card>
  </mat-tab>
  <mat-tab label="Web Development - PHP">
    <mat-card>
      <img mat-card-image [src]="phpImg" [alt]="phpAlt">
    </mat-card>
  </mat-tab>
  <mat-tab label="C/C++">
    <mat-card>
      <img mat-card-image [src]="cImg" [alt]="cAlt">
    </mat-card>
  </mat-tab>
  <mat-tab label="HackerRank Certificates in Python, Problem Solving & SQL">
    <mat-card>
      <img mat-card-image [src]="problemSolvingImg" [alt]="hackerRankAlt">
    </mat-card>
    <mat-card>
      <img mat-card-image [src]="hackerRankImg" [alt]="hackerRankAlt">
      <img mat-card-image [src]="hrpyImg" [alt]="hackerRankAlt">
    </mat-card>
  </mat-tab>
  <mat-tab label="Introduction to Computing and Laboratory - C">
    <h1>IITG</h1>
  </mat-tab>
  <mat-tab label="LaTeX Workshop">
    <mat-card>
      <img mat-card-image [src]="lataxImg" [alt]="lataxAlt">
    </mat-card>
  </mat-tab>
</mat-tab-group>