
  <table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th style="color:rgb(227, 25, 55)" mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td style="color:rgb(82, 54, 171)" mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <mat-card><img mat-card-image [src]="element.proof" [alt]="element.name" /> </mat-card>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>




<!--  -->

<!-- <mat-tab-group mat-align-tabs="start">
  <mat-tab label="Certified Python Marketing Analytics (CPMA)">
    <mat-card>
      <img mat-card-image [src]="cpmaImg" [alt]="cpmaAlt">
    </mat-card>
  </mat-tab>
  <mat-tab label="Programming in Python">
    <mat-card>
      <img mat-card-image [src]="pyImg" [alt]="pyAlt">
    </mat-card>
  </mat-tab>
  <mat-tab label="Data Structures and Algorithms">
    <mat-card>
      <img mat-card-image [src]="dsaImg" [alt]="dsaAlt">
    </mat-card>
  </mat-tab>
  <mat-tab label="Web Development - PHP">
    <mat-card>
      <img mat-card-image [src]="phpImg" [alt]="phpAlt">
    </mat-card>
  </mat-tab>
  <mat-tab label="C/C++">
    <mat-card>
      <img mat-card-image [src]="cImg" [alt]="cAlt">
    </mat-card>
  </mat-tab>
  <mat-tab label="HackerRank Certificates in Python, Problem Solving & SQL">
    <mat-card>
      <img mat-card-image [src]="problemSolvingImg" [alt]="hackerRankAlt">
    </mat-card>
    <mat-card>
      <img mat-card-image [src]="hackerRankImg" [alt]="hackerRankAlt">
      <img mat-card-image [src]="hrpyImg" [alt]="hackerRankAlt">
    </mat-card>
  </mat-tab>
  <mat-tab label="Introduction to Computing and Laboratory - C">
    <h1>IITG</h1>
  </mat-tab>
  <mat-tab label="LaTeX Workshop">
    <mat-card>
      <img mat-card-image [src]="lataxImg" [alt]="lataxAlt">
    </mat-card>
  </mat-tab>
</mat-tab-group> -->