<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title><a href="https://deepak-mandal.github.io/" style="text-decoration: none;">Deepak K Mandal</a>
    </mat-card-title>
    <mat-card-subtitle>Software Engineer, CGI || B.Tech, IIT Guwahati</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Deepak has more than 10 months of experience in Software Engineering.
      He has significant experties in Java technologies, Spring & Angular framework,
      SQL & NoSQL databases as well as in developing, documenting and testing.
    </p>
  </mat-card-content>
</mat-card>