<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title><a href="https://deepak-mandal.github.io/" style="text-decoration: none; color:rgb(227, 25, 55)">Deepak K Mandal</a>
    </mat-card-title>
    <mat-card-subtitle>Software Engineer, CGI || B.Tech, IIT Guwahati</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!-- <p><i>Hey there! I'm Deepak.</i><br/>
      <i>It's great to see you here!</i> -->
    <p>
      Deepak has more than 1 year of experience in Software Engineering.
      He has significant experties in Java technologies, Spring & Angular framework,
      SQL & NoSQL databases as well as in developing, documenting and testing.
    </p>
  </mat-card-content>
</mat-card>