/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; padding:20px; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-card-title{
    color: rgb(227, 25, 55);
  }

  
  .mat-card-subtitle{
    color: rgb(82, 54, 171)
  }