/* .example-header-image {
  background-image: url('../images/cgi.png');
  background-size: cover;
} */

.example-header-image-iitm {
  background-image: url('../images/iitm.png');
  background-size: cover;
}

/* mat-panel-title {
  color: rgb(227, 25, 55);
} */