<mat-tab-group mat-align-tabs="start">
  <mat-tab label="JEE 2017">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image-iitm"></div>
        <mat-card-title>Joint Entrance Examination 2017</mat-card-title>
        <mat-card-subtitle>Qualified JEE(Advanced) among 0.15+ million candidates appearing for the test.
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-tab>
  <mat-tab label="CGI's appreciation">
    <mat-card>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div mat-card-avatar class="example-header-image"></div>
              <b>&nbsp;APPLAUD — Celebrating CGI’s values</b>
            </mat-panel-title>
            <mat-panel-description>
              {{panelOpenState ? 'hide' : 'show'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card><img mat-card-image [src]="cgiAppreciation" [alt]="'CGI'" /> </mat-card>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </mat-tab>
</mat-tab-group>