<mat-stepper [orientation]="stepperOrientation" #stepper>
  <mat-step state="cgi" label="">
    <ng-template matStepLabel><b class="red">Bronze award &nbsp;(2023 & 2024)</b>
    </ng-template>
    <p class="blue">Received bronze award from president (FY23) and SVP (FY24) & applauds from managers for the
      excellent work delivered</p>

  </mat-step>
  <mat-step state="jee" label="">
    <ng-template matStepLabel><b class="red">Joint Entrance Examination &nbsp;(2017)</b></ng-template>
    <p class="blue">Qualified JEE(Main) & JEE(Advanced) among 1.18 million candidates
    </p>
  </mat-step>

  <mat-step state="ev" label="">
    <ng-template matStepLabel><b class="red">Kudos award &nbsp;(2026)</b></ng-template>
    <p class="blue">For recognition of my contribution to Finacle.
    </p>
  </mat-step>

  <ng-template matStepperIcon="jee"><img [src]="iitmLogo" class="stepper-icon"></ng-template>
  <ng-template matStepperIcon="cgi"><img [src]="cgiLogo" class="stepper-icon"></ng-template>
  <ng-template matStepperIcon="ev"><img [src]="evLogo" class="stepper-icon"></ng-template>
  <ng-template matStepperIcon="done" let-index="index">
    <img [src]="index === 0 ? cgiLogo : index === 1 ? iitmLogo : evLogo" class="stepper-icon">
  </ng-template>
  <ng-template matStepperIcon="edit" let-index="index">
    <img [src]="index === 0 ? cgiLogo : index === 1 ? iitmLogo : evLogo" class="stepper-icon">
  </ng-template>
  <ng-template matStepperIcon="number" let-index="index">
    <img [src]="index === 0 ? cgiLogo : index === 1 ? iitmLogo : evLogo" class="stepper-icon">
  </ng-template>
</mat-stepper>